*{
}
.cart-section{
    width: 60%;
    margin:40px auto;
   display: flex;
   direction: column    ;   
   gap:20px;
}

.cart-second-section{
    margin: auto;
}
p{
    cursor: pointer;
}
/* @media (max-width: 820px) {
    .cart-section{
        display: inline;
        width: 70%;
    }
} */